.navButton {
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 900;
  font-size: 21px;
  color: #000000;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

.navButton:hover {
  animation: bounce 0.75s infinite;
}

@media (max-width: 640px) {
  .navButton {
    font-size: 18px;
  }
}
