<html>
  <body>
    <div class="container">
      <div class="bodyTop">
        <div class="ZR">ZR</div>
      </div>
      <div class="bodyBottom">
        <div class="infotainer">
          <div class="ZR2">ZION ROGERS</div>
          <div class="divider"></div>
          <div class="softwareEngineer">Software Engineer</div>
        </div>
        <div class="spacer"></div>
        <div class="bottomNav">
          <app-bottom-nav-buttons
            *ngFor="let section of sections"
            [text]="section"
            [active]="activeSection === section.toLowerCase()"
            (clicked)="setActiveSection($event)"
          ></app-bottom-nav-buttons>
        </div>
      </div>
    </div>
    <div id="skills" class="skills">
      <div class="containerMargin">
        <h2>Technical Skills</h2>
        <p class="about">
          My primary focus is Mobile-First Development using Kotlin
          Multiplatform. I also use Native Android, MVVM architecture, and
          Jetpack Compose. Additionally, I have hands-on experience with backend
          technologies such as Firebase, .NET 7, and Node.
        </p>
        <div class="frameworks">
          <div class="frameworkContainer">
            <span>KOTLIN</span>
            <img src="assets/logos/kotlin.svg" class="frameworkKotlin" />
          </div>
          <div class="frameworkContainer">
            <span>COMPOSE</span>
            <img src="assets/logos/jetbrains.svg" class="frameworkJetbrains" />
          </div>
          <div class="frameworkContainer">
            <span>ANGULAR</span>
            <img src="assets/logos/angular.svg" class="frameworkAngular" />
          </div>
          <div class="frameworkContainer">
            <span>KMM/KMP</span>
            <img src="assets/logos/compose.svg" class="frameworkKMM" />
          </div>
          <div class="frameworkContainer">
            <span>NODE</span>
            <img src="assets/logos/node.svg" class="frameworkNode" />
          </div>
        </div>
        <div class="frequentlyUsed">Most Frequently Used Tools</div>
        <div class="category">
          <ul>
            <li class="tools">Kotlin / KMP / Compose</li>
            <li class="tools">Typescript / Javascript</li>
            <li class="tools">XML / HTML / SCSS</li>
            <li class="tools">C# / .NET 7</li>
            <li class="tools">Gradle</li>
          </ul>
        </div>
        <p class="about">
          Check out my
          <a
            href="https://docs.google.com/document/d/1dXMlpinxheR2uT51Wt3FvAyFJh2tGSNgEjHEIVElpis/edit?usp=sharing"
            style="text-decoration: underline"
            >resume</a
          >
          to view all of my technical skills and accomplishments.
        </p>
      </div>
    </div>
    <div id="about-me" class="aboutMe">
      <div class="containerMargin">
        <h2>about me</h2>

        <div class="aboutMeBox">
          <img src="assets/pictures/zion.jpg" class="me" />

          <div class="section">
            <h4>My Tech Interests</h4>
            <div style="margin-bottom: 16px">
              I have always loved the tech industry as a whole. This past
              January, I was afforded a career development opportunity at a
              start-up. Our stack included tools such as, Visual Studio Code,
              Visual Studio, Android Studio, Azure/ADO, Firebase, and Figma. I
              am always seeking to learn more and become a better developer day
              by day.
            </div>
            <div>
              My recent jobs were in the labor industry and I felt like I needed
              something more mentally stimulating. Transitioning into the
              technology industry has been incredibly fulfilling and I am
              excited to see where it takes me.
            </div>
          </div>
          <div class="section">
            <h4>My Personal Interests</h4>
            In my free time, I love exploring new destinations and nature. When
            not in nature, I enjoy diving into real estate and investment. I'm
            excited about the endless possibilities ahead of me. :)
          </div>
        </div>
      </div>
    </div>
    <div id="experience" class="experience">
      <div class="containerMargin">
        <h2>work experience</h2>
        <div class="SE">Software Engineer</div>
        <div class="jobDefinition">
          <span class="jobDefinitionInfo"> AMP AMBITIONS LLC </span
          ><img src="assets/logos/AMP.svg" class="AMP" />
          <span class="jobDefinitionInfo"> January 2022 - Present</span>
        </div>
        <p class="about">
          My work here primarily involved the creation of mobile applications
          using Kotlin Multiplatform Mobile and native Android platforms. I was
          also involved in the backend, including creating a user database and
          storing all of that data in the backend.
        </p>

        <div class="workExperiencePoints">
          <ul>
            <li>
              Developed a cross-platform mobile app using Figma and Kotlin
              Multiplatform Mobile.
            </li>
            <li>
              Collaborated in project planning and contributed to UX design
              improvements.
            </li>
            <li>
              Built a DevOps-Discord webhook for Azure notifications and trained
              new team members.
            </li>
            <li>
              Designed Firestore rules and Firebase functions for secure access.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div id="contact" class="contact">
      <div class="footerHead">
        <div class="leftHead">ZION ROGERS</div>
        <span class="seperator"> | </span>

        <div class="rightHead">SOFTWARE ENGINEER</div>
      </div>
      <div class="footerContent">
        <span>
          <a
            class="ee"
            href="https://www.linkedin.com/in/zionrogers/"
            style="text-decoration: underline; font-weight: bold"
            >LINKEDIN</a
          >
        </span>
        <span>
          <a
            class="ee"
            href="https://github.com/ZionRog"
            style="text-decoration: underline; font-weight: bold"
            >GITHUB</a
          >
        </span>
        <span>
          <a
            class="ee"
            href="mailto:ZRDevelopment21@gmail.com"
            style="text-decoration: underline; font-weight: bold"
            >ZRDEVELOPMENT21@GMAIL.COM</a
          >
        </span>
        <span>
            <a
            class="ee"
            href="https://docs.google.com/document/d/1dXMlpinxheR2uT51Wt3FvAyFJh2tGSNgEjHEIVElpis/edit?usp=sharing"
            style="text-decoration: underline; font-weight: bold"
            >RESUME</a>
        </span>
      </div>
    </div>
  </body>
</html>
